pip install math
pip install bs4
pip install matplotlib.pyplot
pip install pandas
pip install geopandas
pip install requests
pip install sqlalchemy
pip install re
pip install random
pip install numpy
